/* font */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url(https://cdnjs.cloudflare.com/ajax/libs/pretendard/1.3.9/static/pretendard.css);
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


/* body */
:root {
  --main-color: #E8E3C3;--color-texta: #1d1d1d;
  --kaist-color: #005dab;--xi-color: #006b8d;--posco-color: #00588a;
}
::selection {background: var(--main-color);color: #000;}

body {background: #f5f5f5;cursor: none;}
a {cursor: none; -webkit-user-select:none;}
.cursor {
  position: absolute;
  width: 3rem;height: 3rem;
  background: rgba(0,0,0,0.5);
  border: 2px solid var(--color-texta);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 1000;
}

/* header */
header {
  position: absolute;left: 0;right: 0;
  display: flex;justify-content: space-between;
  height: 100px;padding: 25px 80px;
  font-family: "Playfair Display", serif;
  color: #fff;text-shadow: #000 1px 0 10px;
  z-index: 1;
}
.fixed {
  position: fixed;left: 0;right: 0;top: 0;
  background: #fff;color:#000;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  text-shadow: none;
}
header i {font-size: 40px;}
header ul {display: flex;gap: 50px;}
header ul li {font-size: 25px;font-weight: 700;}

/* main */
.main_visual {
  position: relative;
  display: flex;justify-content: center;
  height: 100vh;background: url(image/main.png);
}
.main_visual .main_wrap {display: flex;flex-direction: column;justify-content: center;align-items: center;}
.main_visual .main_h2 {color: #fff;text-shadow: #000 1px 0 10px;}
.main_visual h2 {
  text-align: center;
  font-size: 80px;font-weight: 700;font-family: "Playfair Display", serif;
}

.about {margin: 150px 80px;font-family: "Noto Sans KR", sans-serif;height: auto;}
.about .about_wrap {height: 80vh;display: flex;justify-content: center; align-items: center;}
.about .about_wrap img {width: 300px;height: 341px;border: 1px solid #000;margin-bottom: 20px;}
.about .about_left {
  display: flex;flex-direction: column;justify-content: center;align-items: center;
  text-align: center;
  width: 100%;height: 100%;
}
.about .about_txt {
  display: flex;flex-direction: column;justify-content: center;
  width: 100%;height: 100%;gap: 40px;
  font-size: 20px;margin-bottom: 150px;
}
.about .about_txt p {font-weight: bold;}
.about .p_wrap {display: flex;gap: 100px;}
.about .p_info {display: flex;flex-direction: column;align-items: flex-start;width: 400px;}
.about .p_license {display: flex;flex-direction: column;}
.about .p_license p>span {font-weight: normal;font-size: 15px;}

.skils {margin: 0 80px;border-top: 1px solid rgba(0,0,0,0.1);}
.skils .skils_wrap {display: flex;justify-content: center;align-items: center;font-size: 26px;font-weight: 700;height: 100vh;gap: 10px;perspective: 1000px;}
.skils .skils_wrap li {
  display: flex;justify-content: center;align-items: center;
  width: 300px;height: 300px;border-radius: 10px;
  transform-style: preserve-3d;
  transition: transform 0.6s;
  -webkit-user-select: none;
}
#html {background: #f56735; color: #FFF;}
#css {background: #23aadb;color: #FFF;}
#jQuery {background: #fff;color: #3065b3;border: 1px solid #000;}
#jQuery .back {color: #3065b3;}
#js {background: #f4bf3b; color: #fff;}
#fm {background: #1e1e1e;}
#fm .c1 {color: #f24e1e;}
#fm .c2 {color: #ff7262;}
#fm .c3 {color: #a259ff;}
#fm .c4 {color: #1abcfe;}
#fm .c5 {color: #0acf83;}
#ai {background: #ff9b00;}
#psd {background: #001e36;color: #31a8ff;}

.skils .skils_wrap li:hover{
  transform: rotateY(180deg);
}

.card {
  display: flex;position: absolute;
  width: 100%;height: 100%;
  transform-style: preserve-3d;backface-visibility: hidden;
}
.front {
  position: absolute;
  display: flex;justify-content: center;align-items: center;
  width: 100%;height: 100%;
  backface-visibility: hidden;
}
.back {
  position: absolute;top: 0;left: 0;
  display: flex;justify-content: center;align-items: center;text-align: center;
  width: 100%;height: 100%;
  border-radius: 10px;color: #fff; font-size: 17px;padding: 10px;line-height: 2rem;
  transform: rotateY(180deg);backface-visibility: hidden;
}

.rest .front {background: url(/image/mask.svg) center center no-repeat;}
.rest img {width: 100%;height: 100vh;}

.port {margin: 0 80px;}
.port .port_wrap {display: flex;align-items: flex-start;margin: 200px 0;}
.port .port_left {
  position: sticky;top: 0;
  display: flex;flex-direction: column;align-items: flex-start;
  padding: 200px 0 0 200px;width: 40%;
}
.port .port_left h2 {font-size: 60px;font-weight: 900;margin-bottom: 20px;}
.port .port_left p {
  padding: 10px;font-size: 18px;font-weight: bold;
  font-family:'Pretendard';
}
.port .port_right {display: flex;flex-direction: column;width: 60%;}
.port .port_right ul {display: flex;padding: 30px 30px;flex-wrap: wrap;}
.port .port_right li {display: flex;flex-direction: column;width: 100%;margin-bottom: 200px;}
.port .port_right a {overflow: hidden;width: 100%;height: 400px;}
.port .port_right li img {width: 100%;height: 100%;object-fit: cover;flex-shrink: 0;}
.port .port_right li .p_txt {display: flex;flex-direction: column;justify-content: center;}
.port .port_right li .p_txt strong {font-size: 50px;font-weight: 700;}
.port .port_right li .p_txt p {font-size: 18px;margin-top: 10px;}


/* footer */
footer {margin: 0 80px;border-top: 1px solid rgba(0,0,0,0.1);height: 70vh;}
.f_wrap {display: flex;flex-direction: column;align-items: center;margin: 200px 0;}
.f_wrap strong {font-size: 80px;font-weight: 700;margin-bottom: 100px;}
.f_wrap .f_adress {display: flex;justify-content: center;gap: 500px;font-size: 25px;width: 100%;font-weight: 600;}
