@charset "utf-8";
/* font */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url(https://cdnjs.cloudflare.com/ajax/libs/pretendard/1.3.9/static/pretendard.css);
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@font-face {
  font-family: 'yg-jalnan';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'BMJUA';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* body */
:root {
  --main-color: #075545;--color-texta: #1d1d1d;
  --kaist-color: #005dab;--xi-color: #006b8d;--posco-color: #00588a;
}
::selection {background: var(--main-color);color: #fff;}

body {font-family: 'Pretendard' , 'Noto Sans' , serif;overflow-x: hidden;}
a, button, img {cursor: pointer;user-select: none;}

/* header */
header {
  position: absolute;top: 0;left: 0;
  display: flex;justify-content: space-between;
  width: 100%;padding: 25px 80px;
  color: #fff;text-shadow: #000 1px 0 10px;
  z-index: 1;
}
.fixed {
  position: fixed;left: 0;right: 0;top: 0;
  background: #fff;color:#000;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  text-shadow: none;
}
header i {font-size: 40px;}
header ul {display: flex;justify-content: center;gap: 50px;font-family: 'BMJUA';}
header ul li {font-size: 25px}

@media screen and (max-width: 500px) {
  header {padding: 25px 35px;}
  header i {display: none;}
  header ul li {font-size: 15px}
}

/* main */
.main_visual {
  position: relative;display: flex;justify-content: center;
  height: 100vh;background: url(../image/main_visual/main.png);
}
.main_visual .main_wrap {display: flex;flex-direction: column;justify-content: center;align-items: center;}
.main_visual .main_h2 {color: #fff;text-shadow: #000 1px 0 10px;}
.main_visual h2 {text-align: center;font-size: 80px;font-weight: 900;font-family: "Playfair", serif;}

.about {padding: 0 80px;}
.about .about_wrap {display: flex;justify-content: center;align-items: center;height: 100vh;}
.about .about_wrap>* {height: 100%;width: 50%;}
.about .about_wrap .about_left {
  display: flex;flex-direction: column;justify-content: center;align-items: center;
}
.about .about_wrap .about_left img {width: 400px;height: 460px;border-radius: 20px; object-fit: cover;}
.about .about_right {
  display: flex;flex-direction: column;justify-content: space-around;
  gap: 80px;height: 460px;font-size: 22px;
}
.about .about_right>p {font-weight: bold;font-size: 23px;}
.about_right>p .about_key {font-family: 'yg-jalnan';}
.about_right p>span {color: var(--main-color);}
.about .about_right .about_bottom {display: flex;justify-content: flex-start;gap: 80px;font-size: 20px;}
.about .p_info {display: flex;flex-direction: column;align-items: flex-start;gap: 10px;}
.about .p_info .name {font-weight: 700;font-size: 22px;margin-bottom: 15px;font-family: 'yg-jalnan';}
.about .p_wrap {display: flex;flex-direction: column;gap: 30px;}
.about .p_license {display: flex;flex-direction: column;gap: 15px;}
.about .p_license>span {font-weight: 700;margin-bottom: 10px;font-family: 'yg-jalnan';}
.about .p_license p>span {font-size: 14px;color: gray;}
.about .p_career {display: flex;flex-direction: column;gap: 15px;margin-top: 30px;}
.about .p_career>span {font-weight: 700;margin-bottom: 10px;font-family: 'yg-jalnan';}

@media screen and (max-width: 500px) {
  .about {padding: 0;}
  .about .about_wrap {flex-direction: column;}
  .about .about_right>p {font-size: 16px;}
  .about .about_right .about_bottom {flex-direction: column;}
  .about .p_info {font-size: 16px;}
  .about .p_info .name {font-size: 18px;}
  .about .p_wrap, .about .p_license {font-size: 16px;}
  .about .p_license p>span {font-size: 12px;}
}

.skils {margin: 0 80px;border-top: 1px solid rgba(0,0,0,0.1);}
.skils .skils_wrap {display: flex;justify-content: center;align-items: center;font-size: 26px;font-weight: 700;height: 100vh;gap: 10px;perspective: 1000px;}
.skils .skils_wrap li {
  display: flex;justify-content: center;align-items: center;
  width: 300px;height: 300px;border-radius: 10px;
  transform-style: preserve-3d;
  transition: transform 0.6s;
  -webkit-user-select: none;
}
#html {background: #f56735; color: #FFF;}
#css {background: #23aadb;color: #FFF;}
#jQuery {background: #fff;color: #3065b3;border: 1px solid rgba(0,0,0,0.1);}
#jQuery .back {color: #3065b3;}
#js {background: #f4bf3b; color: #fff;}
#fm {background: #1e1e1e;}
#fm .c1 {color: #f24e1e;}
#fm .c2 {color: #ff7262;}
#fm .c3 {color: #a259ff;}
#fm .c4 {color: #1abcfe;}
#fm .c5 {color: #0acf83;}
#ai {background: #ff9b00;}
#psd {background: #001e36;color: #31a8ff;}

.skils .skils_wrap li:hover {transform: rotateY(180deg);}

.card {
  display: flex;position: absolute;
  width: 100%;height: 100%;
  transform-style: preserve-3d;backface-visibility: hidden;
}
.front {
  position: absolute;
  display: flex;justify-content: center;align-items: center;
  width: 100%;height: 100%;
  backface-visibility: hidden;
}
.back {
  position: absolute;top: 0;left: 0;
  display: flex;justify-content: center;align-items: center;text-align: center;
  width: 100%;height: 100%;
  border-radius: 10px;color: #fff; font-size: 17px;padding: 10px;line-height: 2rem;
  transform: rotateY(180deg);backface-visibility: hidden;
}
@media screen and (max-width: 500px) {
  .skils {padding: 0;border: none;}
}
.rest {overflow: hidden;}
.rest .front {background: url(../image/rest/mask.svg) center no-repeat;}
.rest img {width: 100%;height: 100vh;object-fit: cover;}

.port {margin: 0 80px;font-family: 'yg-jalnan';}
.port .port_wrap {display: flex;align-items: flex-start;margin: 200px 0;}
.port .port_left {
  position: sticky;top: 0;
  display: flex;flex-direction: column;align-items: flex-start;
  padding: 200px 0 0 200px;width: 40%;gap: 20px;
}
.port .port_left h2 {font-size: 60px;font-weight: 900;margin-bottom: 50px;}
.port .port_left button {
  padding: 10px 15px;
  border: 2px solid #000;border-radius: 50px;
  font-size: 18px;font-weight: bold;
}
.port .port_right {display: flex;flex-direction: column;width: 60%;}
.port .port_right ul {display: flex;padding: 30px 30px;flex-wrap: wrap;}
.port .port_right li {display: flex;flex-direction: column;width: 100%;margin-bottom: 200px;}
.port .port_right a {overflow: hidden;width: 100%;height: 400px;}
.port .port_right li img {width: 100%;height: 100%;object-fit: cover;flex-shrink: 0;border-radius: 10px;}
.port .port_right .p_wrap {display: flex;justify-content: space-between;align-items: center;margin-top: 20px;font-size: 18px;font-family: 'BMJUA';}
.port .port_right li .p_txt {display: flex;flex-direction: column;justify-content: center;}
.port .port_right li .p_txt strong {font-size: 50px;font-weight: 700;}
.port .port_right li .p_txt strong>span {color: gray; font-size: 17px;font-weight: normal;margin-left: 20px;}
.port .port_right li .p_txt p {font-size: 20px;margin-top: 10px;}
.port .port_right .p_wrap .a_wrap a {padding: 10px;border: 2px solid #000;border-radius: 20px;}

.kaist, .posco, .javascript {scroll-margin-top: 100px; /* 스크롤 시 상단에 100px 여백 */}

/* footer */
footer {margin: 0 80px;border-top: 1px solid rgba(0,0,0,0.1);height: 70vh;}
.f_wrap {display: flex;flex-direction: column;align-items: center;margin: 200px 0;}
.f_wrap strong {font-size: 80px;font-weight: 700;margin-bottom: 100px;}
.f_wrap .f_adress {
  display: flex;justify-content: center;gap: 500px;
  font-size: 25px;width: 100%;font-weight: 600;
}
